<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RPS Start</title>
	<link rel="stylesheet" href="start_style.css">
</head>
<body>
	<h1>Hello <%= session[:player_name] %>. Please make your selection</h1>
	<p>Round <%= session[:results].length+1 %>/<%= session[:rounds] %></p>
	<form action="/result" method="post">
		  <img src="rock.jpeg" height=160 width = 240 style="margin-right: 60">
		  <img src="scissors.jpeg" height=160 width = 240 style="margin-right: 60">
		  <img src="paper.jpeg" height=160 width = 240 ><br>
	  <input type="radio" name="choice" value="rock"> ROCK
	  <input type="radio" name="choice" value="scissors" style="margin-left: 70"> SCISSORS 
	  <input type="radio" name="choice" value="paper" style="margin-left: 70"> PAPER
	  <br><br>
	  <input type="image" src="submit.jpeg" alt="submit" height=40 width = 40>
	</form>
</body>
</html>